
    a:hover,a{
        text-decoration: none;
        color: #333333;
    }
    .my-bullet{
        width: .6rem;
        height: .15rem;
    }
    .hidden_xs{
        display: none !important;
    }
    .visible_xs{
        display: block !important;
    }
    .container_zz{
        padding:0;
        margin-left: 0px;
        margin-right: 0px;
        overflow: initial;
    }
    .imgFull{
        width: 100%;
    }
    .main_title{
        margin-bottom: 1.15rem;
        .title_big{
            font-size: 3rem;
        }
        .title_small{
            font-size: 1.25rem;
            left: .85rem;
            top: 1.25rem;
        }
        .title_more{
            font-size: .7rem;
            bottom: .375rem;
        }
    }
    /* 首页简介 */
    .home_intro{
        padding:1.25rem 1.85rem 2.5rem 1.85rem;
        .main_title{
            margin-bottom: .4rem;
        }
        .home_intro_content{
            margin-bottom: 1.75rem;
            p{
                font-size: .55rem;
                line-height: 1.8em;
            }
        }
        .home_intro_list{
            flex-wrap: wrap;
            .list_item{
                width: 50%;
                margin-bottom: 2.875rem;
                .imgFull{
                    width: 2.7rem;
                    margin-bottom: .95rem;
                }
                .item_name{
                    font-size: .85rem;
                }
            }
        }
    }
    /* 海报 */
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 1.25rem;
    }
    /* 首页简介 */
    
    
    /* 首页核心 */
    .home_core_business{
        .core_box1{
            height: 5rem;
            font-size: .9rem;
            line-height: 5.5em;
            background-size: cover;
        }
        .core_box2{
            padding:1.5rem 0.75rem 1.25rem .75rem;
            .core_list{
                .core_item{
                    flex-wrap: wrap;
                    margin-bottom: 1.25rem;
                    .item_left,.item_right{
                        width: 100%;
                    }
                    .item_right{
                        height: 9.5rem;
                        padding:1.74rem 1.85rem;
                    }
                    .item_title{
                        margin-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                        margin-bottom: .75rem;
                        font-size: .95rem;
                    }
                    .item_content {
                        padding-left: 0;
                        padding-right: 0;
                        p {
                            font-size: .55rem;
                            line-height: 1.8em;
                        }
                    }
                    .left_Corner{
                        top: -.025rem;
                        left: -.025rem;
                        border-width: .65rem;
                    }
                    .right_Corner{
                        border-width: .65rem;
                        bottom: -.025rem;
                        right: -.025rem;
                    }
                }
            }
        }
    }
    /* 首页新闻 */
    .home_news{
        padding:2.7rem 0.75rem;
        .news_list{
            width: 15rem;
            margin:0 auto;
            .news_item{
                margin-bottom: 0;
                flex-wrap: wrap;
                .item_img{
                    width: 100%;
                    height: 8.125rem;
                }
                .item_content{
                    padding: .8rem 1.15rem;
                    width: 100%;
                    flex: 1;
                    position: relative;
                    z-index: 12;
                    height: 8.75rem;
                    box-shadow: 0 0 .4rem #ccdeef;
                    .item_title {
                        font-size: .7rem;
                        line-height: 1.5em;
                        max-height: 3.15rem;
                        -webkit-line-clamp: 3;
                    }
                    .item_time {
                        font-size: .45rem;
                        margin-top: .5rem;
                        margin-bottom: .375rem;
                    }
                    .item_det {
                        font-size: .55rem;
                        line-height: .9rem;
                        max-height: 1.64em;
                        margin-bottom: .5rem;
                        padding-right: 0;
                    }
                    .item_more{
                        a {
                            color: #8dc21f;
                            font-size: .5rem;
                        }
                    }
                }
            }
            &.pc_box{
                display: none;
            }
            &.phone_box{
                display: block;
                position: relative;
                .swiper-case-prev,.swiper-case-next{
                    position:absolute;
                    top:50%;
                    z-index: 1;
                    &.swiper-button-disabled{
                        img{
                            opacity: .5;
                        }
                    }
                }
                .swiper-case-prev{
                    left: -1rem;
                }
                .swiper-case-next{
                    right: -1rem;
                }
            }
        }
    }
    .news_list .swiper-container{
        padding:.25rem .4rem;
    }
    /* 底部 */
    .footer{
        padding:1.5rem 2.1rem 0 2.1rem;
        .footer_box1{
            height: auto;
            padding: 0;
            border-bottom: .025rem solid #6a7987;
            flex-wrap: wrap;
            .logo_img{
                width: 100%;
                flex: none;
                img{
                    width: 4.8rem;
                    height: auto;
                }
            }
            .footer_nav{
                line-height: unset;
                width: 100%;
                flex-wrap: wrap;
                padding-top: .375rem;
                li{
                    width: 33.33%;
                    a{
                        color: #ffffff;
                        font-size: .65rem;
                        line-height: 2.46em;
                    }
                }
            }
        }
        .footer_box2{
            display: flex;
            .footer_box2_left{
                display: none;
            }
            .footer_box2_right{
                width: 100%;
                padding:1.1rem 0;
                flex-wrap: wrap;
                .item1_title{
                    font-size: .65rem;
                    line-height: 1.54em;
                }
                .item1_det{
                    font-size: .5rem;
                    line-height: 1.6em;
                }
                .footer2_item1{
                    width: 33.33%;
                }
            }
        }
    } 
    
    
    .footer2_item2{
        width: 100%;
        height:1.55rem;
        .item2_icon{
            width:1.55rem;
            height:1.55rem;
            line-height: 1.55rem;
            flex-wrap: wrap;
            &:first-child{
                .icon1{
                    margin-right: .55rem;
                }
            }
            &.icon1{
                img{
                    width: .75rem;
                }
            }
            &.icon2{
                height: auto;
                width: 3rem;
                img{
                    width: 3rem;
                }
            }
        }
        #wx_switch{
            img{
                width: .9rem;
            }
            &.icon2{
                img{
                    width: 6rem;
                }
            }
        }
    }
    .footer_b{
        font-size: .4rem;
        line-height: 1.5em;
        padding:0.2rem 3.25rem;
        /* height: 1.55rem; */
    }
    
    /* 顶部导航 */
    .header_bg{
        width: 100%;
        position: fixed;
        z-index: 12;
        &.navFixed{
            background-color: #ffffff;
        }
    }
    .banner{
        padding-top: 2.2rem;
        overflow: hidden;
        .swiper-slide{
            .banner_title{
                top:calc(50% - 2.3rem);
                font-size: .85rem;
                line-height: 2.125em;
                font-weight: bold;
            }
        }
    }
    
    .header_nav{
        padding:0;
        .header_logo{
            width: 100%;
            text-align: center;
            height: 2.2rem;
            padding:.225rem 0;
            background-color: white;
            img{
                height: 1.75rem;
                display: inline-block;
                width: auto;
            }
        }
        .header_list{
            position: fixed;
            left: 0;
            top: 2.2rem;
            bottom: calc(100% - 2.2rem);
            overflow: hidden;
            background: white;
            padding:0 .75rem;
            transition-property: all;
            transition-duration:.5s , .5s;
            right: 100%;
            width: 0;
            margin-bottom: 0;
            margin-top: 0;
            > li{
                position: relative;
                display: block;
                padding:0;
                text-align: left;
                border-bottom:0.05rem solid #d5d7d9;
                padding-left: .6rem;
                a{
                    line-height: 2.75rem;
                    .up_icon{
                        margin-left:.5rem;
                        position:relative;
                        top:0;
                        &.visible_xs{
                            display: inline-block !important;
                        }
                        &.popupShow{
                            img{
                                transform:rotate(-180deg);
                            }
                        }
                        img{
                            transition:all .5s;
                            width:.425rem
                        }
                    }
                }
                >.popup{
                    position: unset;
                    padding-top: 0;
                    padding-left:.5rem;
                    padding-bottom:.5rem;
                    height: auto;
                    background-color: white;
                    display: none;
                    li{
                        flex: 1;
                        text-align: left;
                        border-right: .025rem solid rgba(255,255,255,.1);
                        height: auto;
                        width: 100%;
                        justify-content: flex-start;
                        a{
                            font-size: .7rem;
                            color: #7c7c7c;
                            line-height: 2.57em;
                        }
                        &:last-child{
                            border-right: none;
                        }
                        &.active{
                            a{
                                color: #8dc21f;
                            }
                        }
                    }
                    &.popupShow{
                        display: block;
                        background-color: #f2f5f7;
                    }
                }
                &:first-child{
                    display: none;
                }
            }
            li a{
                color: #3f3f3f;
                font-size: .7rem;
            }
        }
        .change_btn{
            position: fixed;
            left: .5rem;
            top:.75rem;
            img{
                width: .95rem;
            }
        }
    }
    .open_nav{
        .header_nav{
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0,0,0,0.4);
            .header_list{
                right: 0;
                bottom: 0;
                width: 13rem;
                border-top:0.05rem solid #d5d7d9;background-color:#f2f5f7;
            }
        }
        .open_btn{
            display: none;
        }
        .close_btn{
            display: block;
        }
    }
    .close_nav{
        .open_btn{
            display: block;
        }
        .close_btn{
            display: none;
        }
    }
    
    /* 产品介绍组件 */
    .pro_show{
        padding:2.7rem 0.75rem 3.25rem .75rem;
        .main_title{
            color: #02355b;
            margin-bottom: 2.5rem;
        }
        .proType_list{
            .proType_item{
                flex-wrap: wrap;
                margin-bottom: 1.25rem;
                .item_img{
                    width: 100%;
                    height: auto;
                }
                .item_content{
                    width: 100%;
                    height: 9.5rem;
                    padding:1.6rem 1.74rem;
                    .item_title{
                        margin-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                        margin-bottom: .75rem;
                        font-size: .95rem;
                    }
                    .item_det{
                        font-size: .55rem;
                        line-height: 1.8em;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .item_more{
                        left: 1.74rem;
                        bottom: 1.6rem;
                        a{
                            font-size: .55rem;
                        }
                    }
                }
                .left_Corner{
                    top:-.025rem;
                }
            }
        }
    }
    
    /* 产品类别选择页面 */
    .pro_type_nav{
        height: 2.5rem;
        .pro_nav_list{
            .pro_nav_item{
                padding:.75rem 0;
                a{
                    font-size: .7rem;
                    line-height: 1.43em;
                }
                &.active{
                    padding:.75rem 0 .65rem 0;
                    border-bottom: solid .1rem #8dc21f;
                }
            }
        }
    }
    .product_list_title .title_big{
        font-size: 2.6rem;
    }
    .product_list {
        background-size: 40%;
        padding: 1.25rem 0.75rem;
        .product_item{
            flex-wrap: wrap;
            margin-bottom: 1.25rem;
            height: auto;
            .item_img{
                width: 100%;
            }
            .item_content{
                width: 100%;
                padding: 0 1rem 2rem 1rem;
                height: unset;
                .item_text {
                    padding:0;
                    border-top: solid .025rem #bcbcbc;
                    padding-top: 1rem;
                    .item_title {
                        font-size: .8rem;
                        margin-bottom: .75rem;
                    }
                    .item_det{
                        font-size: .45rem;
                        line-height: 1.6em;
                        max-height: unset;
                    }
                    .item_more{
                        left: 0;
                        bottom: -.7rem;
                        a {
                            color: #8dc21f;
                            font-size: .5rem;
                        }
                    }
                }
            }
            &:nth-child(odd) .item_content .item_text{
                border-left: none;
            }
            &:nth-child(even) .item_content .item_text{
                border-right: none;
            }
        }
    }
    
    /************ 产品详情 ************/
    .det_nav{
        padding:0 0.75rem;
        font-size: .55rem;
        line-height: 2.5rem;
        &.ph_top{
            padding-top: 2.2rem;
        }
    } 
    .pro_det_top{
        padding: 1rem 0.75rem 0 0.75rem;
        .main_title{
            margin-bottom: 0;
            .title_big{
                position: relative;
                color: #02355b;
                font-size: 1.8rem;
                height: auto;
            }
            .title_small{
                font-size: .8rem;
                top:.625rem;
            }
        }
    }
    .pro_component_title{
        padding-top: 2.5rem;
        padding-bottom: .8rem;
        font-size: 1.15rem;
        border-bottom: .025rem solid #abc3d2;
        margin-bottom: 1rem;
    }
    .pro_det_merit{
        padding: .2rem 0.75rem 2.7rem 0.75rem;
        .merit_list{
            .merit_item{
                width:calc(50% - .5rem);
                padding-right: .4rem;
                height: auto;
                padding-bottom: .4rem;
                box-shadow: 0 0 .5rem #ccdeef;
                padding-top: .4rem;
                padding-left: .8rem;
                margin-bottom: 1.25rem;
                min-height: 5rem;
                &:nth-child(odd){
                    margin-right: 1rem;
                }
                &:nth-child(even){
                    margin-right: 0;
                }
                &::after {
                    border-width: .9rem;
                    top: -0.3rem;
                    left: -0.3rem;
                }
                &::before{
                    width: 2.75rem;
                    height: 2.75rem;
                    top: .2rem;
                    left: .2rem;
                    box-shadow:  -0.5rem 0 0.5rem -0.5rem #ccdeef;
                }
                .merit_item_title{
                    font-size: .75rem;
                    height: 1.5rem;
                    margin-bottom: .125rem;
                    img{
                        margin-right: .375rem;
                        width: 1.2rem;
                    }
                }
                .merit_item_det{
                    font-size: .5rem;
                }
            }
        }
    }
    // 产品简介
    .pro_profile{
        padding: .2rem 0.75rem 2.7rem 0.75rem;
        .profile_wrapper{
            flex-wrap: wrap;
            .profile_left{
                width: 100%;
                flex: unset;
            }
            .profile_right{
                width: 100%;
                flex: unset;
                padding:.2rem 0;
                p{
                    font-size: .6rem;
                    letter-spacing: 0.075rem;
                }
            }
        }
    }
    // 技术参数
    .pro_technical{
        padding: .2rem 0.75rem 2.7rem 0.75rem;
        .technical_wrapper{
            table{
                border:.05rem solid #93c52c;
                thead{
                    tr{
                        th{
                            font-size: .55rem;
                            height: 1.7rem;
                            padding-left: .1rem;
                            &:first-child{
                                padding-left: 1rem;
                            }
                            span{
                                margin:0 1.75rem;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            font-size: .45rem;
                            height: 1.25rem;
                            padding-left: .1rem;
                            &:first-child{
                                padding-left: 1rem;
                            }
                            span{
                                margin:0 .625rem;
                            }
                        }
                    }
                }
            }
        }
    }
    // 文档下载
    .pro_download{
        padding: .2rem 0.75rem 2.7rem 0.75rem;
        .download_list{
            .download_item{
                width: calc(50% - 1.625rem);
                margin-right: 1.625rem;
                margin-bottom: 1.25rem;
                .download_type{
                    margin-right: .7rem;
                }
                .download_name{
                    font-size: .7rem;
                }
                .download_size{
                    font-size: .45rem;
                    color: #949494;
                    margin-right: .1rem;
                }
                .download_icon{
                    margin-top: .2rem;
                }
            }
        }
    }
    // 行业应用
    .industry_title{
        padding:1.25rem 0.75rem 0 .75rem;
    }
    .switch_industry{
        .top_img{
            flex-wrap: wrap;
            .top_left{
                width: 100%;
            }
            .top_right{
                width: 100%;
                padding-bottom: .8rem;
                .indstry_name{
                    font-size: 0.85emrem;
                    margin-bottom: .875rem;
                }
                .industry_det{
                    font-size: .6rem;
                    line-height: 1.6667em;
                    margin-bottom: .875rem;
                }
                .industry_more{
                    a{
                        font-size: .5rem;
                    }
                }
            }
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
            left: 1.5rem;
            top:7rem;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
            right: 1.5rem;
            top:7rem;
        }
        .bottom_img{
            .swiper-slide{
                position: relative;
                .thumbs_model{
                    position: absolute;
                    .model_title{
                        font-size: .5rem;
                    }
                    .model_det{
                        margin-top: .5rem;
                        font-size: .4rem;
                    }
                }
            }
        }
    }
    .switch_case{
        .case_top{
            padding:1.25rem 0.75rem 0 .75rem;
        }
    }
    .switch_case_bottom{
        padding-bottom: 1.5rem;
        .container_zz{
            width: 16rem;
            margin:0 auto;
        }
        .case_bottom{
            .swiper-case-prev{
                left: 1rem;
                top:5rem;
            }
            .swiper-case-next{
                right: 1rem;
                top:5rem;
            }
            .container_zz{
                max-width: 141rem;
                padding:0 .5rem;
                .case_show{
                    padding:.5rem;
                }
                .case_show{
                    .slide_content{
                        height: auto;
                        padding:1.5rem;
                        position: relative;
                        z-index: 1;
                        .case_title{
                            font-size: .85rem;
                            margin-bottom: .75rem;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                        .case_det{
                            font-size: .6rem;
                            line-height: 1.66em;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            overflow: hidden;
                        }
                        .left_icon{
                            position: absolute;
                            left: -.6rem;
                            top: -.7rem;
                            height: 1.4rem;
                        }
                        &::after {
                            content: ' ';
                            border: solid transparent;
                            position: absolute;
                            border-width: .625rem;
                            border-bottom-color: #ffffff;
                            border-right-color: #ffffff;
                            bottom: -.3rem;
                            right: -.3rem;
                            z-index: 1;
                        }
                        &::before {
                            content: ' ';
                            width: 2.25rem;
                            height: 2.25rem;
                            background-color: transparent;
                            position: absolute;
                            z-index: 2;
                            transform: rotate(45deg);
                            bottom: 0;
                            right: 0;
                            box-shadow: .5rem 0 .5rem -.5rem #ccdeef;
                        }
                    }
                    .swiper-slide{
                        background-color: white;
                        box-shadow:  0 0 .5rem #bad4ec;
                    }
                }
            }
        }
    }
    
    // 行业详情
    .industry_box{
        padding:1.25rem 0.75rem 0 .75rem;
        .main_title{
            margin-bottom: 2rem;
        }
        .pro_component_title{
            padding-top: 2.25rem;
        }
        .industry_det_top{
            width: auto;
            box-shadow: 0 0 .5rem #ccdeef;
            .container_zz{
                padding:0;
                .industry_det_top_wrapper{
                    flex-wrap: wrap;
                    .industry_top_left{
                        width: 100%;
                        &::after {
                            border-width: .95rem;
                            top: -.375rem;
                            left: -.375rem;
                        }
                        &::before {
                            width: 2.25rem;
                            height: 2.25rem;
                            top: .25rem;
                            left: .25rem;
                            box-shadow: -.5rem 0 .5rem -.5rem #ccdeef;
                        }
                    }
                    .industry_top_right{
                        width: 100%;
                        padding:1.75rem 1.5rem;
                        .det_title{
                            font-size: .85rem;
                            margin-bottom: .5rem;
                        }
                        .det_content{
                            p{
                                font-size: .6rem;
                            }
                        }
                    }
                }
            }
        }
        .industry_det_recommend{
            padding-bottom: 2.5rem;
            .recommend_list{
                display: flex;
                .recommend_item{
                    width: calc(50% - .925rem);
                    margin-right: 0;
                    margin-bottom: .75rem;
                    &:nth-child(odd){
                        margin-right: 1.85rem;
                    }
                    .item_img{
                        box-shadow: 0 0 .5rem #ccdeef;
                        margin-bottom: .5rem;
                        img{
                            width: 100%;
                        }
                    }
                    .item_title{
                        font-size: .6rem;
                        line-height: 1.6667em;
                        text-align: center;
                        color: #3f3f3f;
                    }
                }
            }
        }
    }
    // 案例详情
    .case_det_box{
        padding:2.5em 0.75rem 0 .75rem;
        .main_title{
            margin-bottom: 0;
            .title_big{
                position: relative;
                color: #02355b;
                height: 4.25rem;
                font-size: 1.8rem;
            }
            .title_small{
                font-size: 1.2rem;
                top:.625rem;
            }
        }
        .case_det_content{
            padding-bottom: 2.05rem;
            padding-right: 0;
            p{
                font-size: .6rem;
                letter-spacing: .0.75rem;
                margin-bottom: .1rem;
            }
        }
    }
    // 新闻
    .news_box .news_list .news_item{
        margin-bottom: .8rem;
    }
    .news_det_box{
        padding:2.5em 0.75rem 0 .75rem;
        .news_det_title{
            padding-right: 0;
            margin-bottom: 1.25rem;
            .title{
                font-size: .9rem;
                letter-spacing: .125rem;
                margin-bottom: .4rem;
            }
            .time{
                font-size: .6rem;
            }
        }
        .news_det_content{
            padding-bottom: 2.05rem;
            padding-right: 0;
            p{
                font-size: .6rem;
                letter-spacing: .0.75rem;
                margin-bottom: .1rem;
            }
            img{
                max-width: 100%;
                margin-bottom: 1.25rem;
            }
        }
    }
    .home_news .news_list .news_item .left_Corner{
        border-width: .65rem;
        top: -.2rem;
        left: -.2rem;
        z-index: 14;
    }
    .home_news .news_list .news_item::before {
        box-shadow: .5rem 0 .5rem -.5rem #ccdeef;
        z-index: 15;
        width: 2.25rem;
        height: 2.25rem;
        bottom: .08rem;
        right: .08rem;
    }
    .home_news .news_list .news_item::after {
        border-width: .60rem;
        bottom: -.19rem;
        right: -.19rem;
        z-index: 14;
    }
    // 服务支持
    .service_idea{
        padding:2.5em 0.75rem;
        .idea_content{
            padding-bottom: 1.75rem;
            p{
                font-size: .6rem;
            }
        }
        .idea_list{
            display: flex;
            flex-wrap: wrap;
            .idea_item{
                width: 5rem;
                margin-right: calc(50% - 7.5rem);
                .item_icon{
                    width: 5rem;
                    height: 5rem;
                    line-height: 5rem;
                    box-shadow: 0 0 .5rem #ccdeef;
                    margin-bottom: .75rem;
                }
                .item_title{
                    font-size: .7rem;
                    margin-bottom: 1.75rem;
                }
            }
        }
    }
    .service_support{
        padding:2.5em 0.75rem;
        .idea_content{
            padding-bottom: 1.75rem;
            p{
                font-size: .6rem;
            }
        }
        .support_list{
            .support_item{
                width: 100%;
                margin-right: 0;
                box-shadow: 0 0 .5rem #ccdeef;
                height: auto;
                margin-bottom: 1.5rem;
                .item_content{
                    padding:.75rem;
                    .item_left{
                        width: 2rem;
                    }
                    .item_right{
                        padding-left: 1.125rem;
                        .item_title{
                            font-size: .85rem;
                        }
                        .item_det{
                            font-size: .6rem;
                            letter-spacing: .05rem;
                        }
                    }
                }
            }
        }
    }
    .service_form{
        padding:2.5em 0.75rem;
        .form_box{
            max-width: unset;
            .form_title{
                font-size: 1.15rem;
                margin-bottom: 1.25rem;
            }
            .form-group{
                label{
                    font-size: .55rem;
                    margin-bottom: .25rem;
                }
                .form-control{
                    height: 1.25rem;
                }
            }
            .checkbox{
                label{
                    input{
                        width: .6rem;
                        height: .6rem;
                        display: inline-block;
                    }
                    a{
                        font-size: .6rem;
                        display: inline-block;
                        margin-left: .6rem;
                        line-height: 1.3em;
                    }
                }
            }
            .submit_btn{
                text-align: center;
                button{
                    width: 5rem;
                    height: 1.25rem;
                    font-size: .6rem;
                }
            }
        }
    }
    // 公司简介
    .intro_box{
        padding:2.5em 0.75rem;
        .video_show{
            padding:.55rem;
            margin-bottom: 1.5rem;
            .video_top{
                .swiper-slide{
                    video{
                        margin-bottom: .75rem;
                    }
                }
                .swiper-button-prev,.swiper-button-next{
                    width: .925rem;
                    height: 1.425rem;
                }
                .swiper-button-prev{
                    left: .5rem;
                    top:23vw;
                }
                .swiper-button-next{
                    right: .5rem;
                    top:23vw;
                }
            }
            .zz_list{
                .zz_item{
                    margin-right: .55rem;
                }
            }
        }
        .intro_content{
            padding-bottom: 2.25rem;
            p{
                font-size: .55rem;
                margin-bottom: 1rem;
            }
        }
    }
    .intro_map{
        padding: 0 0.75rem 2.5em 0.75rem;
        .place_list{
            .place_item{
                margin-right: 0;
                margin-bottom: 1rem 1rem .625rem 1rem;
                width: 100%;
                padding:1rem;
                .item_info{
                    margin-bottom: .375rem;
                    >img{
                        width: .85rem;
                        margin-top: .125rem;
                    }
                    .info_content{
                        padding-left: .375rem;
                        .title{
                            font-size: .7rem;
                        }
                        .content{
                            font-size: .55rem;
                        }
                    }
                }
            }
        }
    }
    // 人才招聘
    .job_wrapper{
        padding: 2.5em 0.75rem;
        .job_table{
            padding:2rem;
            box-shadow: 0 0 .5rem #ccdeef;
            .table{
                border-bottom: .025rem solid #ddd;
                >thead>tr>th{
                    font-size: .75rem;
                    height: 2.25rem;
                }
                >tbody>tr{
                    td{
                        font-size: .6rem;
                        div{
                            height: 2rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
    }
    //招聘详情
    .job_det_top{
        padding: 2.5em 0.75rem;
        .job_name{
            font-size: 1.1rem;
        }  
        .company_name{
            font-size: .55rem;
        }  
        .job_condition{
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            border-bottom: .025rem solid #dadada;
            .condition_name{
                font-size: .75rem;
                margin-bottom: .5rem;
            }
            .condition_content{
                font-size: .55rem;
            }
        }  
    }
    .job_form{
        padding: 2.5em 0.75rem;
        .form_box{
            .form_title{
                font-size: 1.15rem;
                margin-bottom: 1.25rem;
            }
            .form-group{
                label{
                    font-size: .55rem;
                    margin-bottom: .25rem;
                }
                .input_row{
                    height: 1.25rem;
                    padding:.325rem .425rem;
                    margin-bottom: .5rem;
                    img{
                        height: .6rem;
                    }
                    input,button,textarea{
                        padding-left: .425rem;
                        font-size: .4rem;
                    }
                }
                .form-control{
                    height: 4rem;
                    margin-bottom: 1.5rem;
                }
            }
            .submit_btn{
                button{
                    width: 5rem;
                    height: 1.25rem;
                    font-size: .6rem;
                }
            }
        }
    }
    // 企业文化
    .culture_wrapper{
        padding: 2.5em 0.75rem;
        background-color: #f2f5f7;
        .mission_list{
            padding-bottom: 1.75rem;
            .mission_item{
                img{
                    margin-bottom: .75rem;
                }
                .item_title{
                    font-size: .6rem;
                    padding:0 .375rem;
                }
            }
        }
        .main_content{
            padding-bottom: 1.75rem;
        }
        .sence_box{
            padding-bottom: 1.75rem;
            .sence_item{
                .sence_img{
                    width: 5rem;
                    height: 5rem;
                    margin-bottom: .75rem;
                    img{
                        width: 100%;
                    }
                }
                .sence_title{
                    font-size: .6rem;
                }
            }
        }
        .pro_component_title{
            margin-bottom: 1.75rem;
            padding-top: .25rem;
            padding-left: .75rem;
        }
    }
    .culture_bottom{
        padding: 2.5em 0.75rem;
        .pro_component_title{
            margin-bottom: 1.75rem;
        }
        .culture_content{
            .img_title{
                font-size: .75rem;
                padding-left: 1rem;
            }
            .swiper-button-prev,.swiper-button-next{
                background-image: unset;
                height: 1.4rem;
                width: 0.925;
            }
        }
    }
    
    //发展历程
    .timelineWrapper{
        padding: 2.5em 0.75rem;
        .main_title{
            margin-bottom: 2.25rem;
        }
        .timeline{
            position: relative;
            .axis{
                left: .5rem;
                top: 0;
                width: .025rem;
                &::before{
                    content: ' ';
                    border-style: solid;
                    border-width: .55rem .225rem;
                    top: -1.1rem;
                    left: -.2rem;
                }
            }
            .event_list{
                padding-top: 1.5rem;
                .event_item{
                    margin-bottom: 1.5rem;
                    .time{
                        width: 1.8rem;
                        height: 1.8rem;
                        left: - .35rem;
                        span{
                            font-size: .6rem;
                            line-height: 1.8rem;
                        }
                    }
                    .item_content{
                        padding-top: .1rem;
                        width: calc(100% - 2.875rem);
                        font-size: .75rem;
                        min-height: 2.25rem;
                    }
                    &:nth-child(even){
                        justify-content: flex-end;
                        .item_content{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    
    .customers_wrapper{
        padding: 2.5em 0.75rem;
        .pro_component_title{
            padding-top: 2.25rem;
        }
        .customers_list{
            .customers_title{
                margin-bottom: 1rem;
                li{
                    min-width: unset;
                    padding-left: .75rem;
                    padding-right: .75rem;
                    a{
                        font-size: .6rem;
                        line-height: 2.5rem;
                        border-top: .05rem solid transparent;
                    }
                    &.active{
                        a{
                            border-top: .05re solid #8dc21f;
                        }
                    }
                }
            }
            .customers_type{
                .type_box{
                    height: 15rem;
                    .customer_item{
                        width: 25%;
                        margin-bottom: 1.125rem;
                    }
                }
            }
        }
    }
    .page_list{
        padding-top: 2.5rem;
        li{
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            border-radius: .1rem;
            a{
                font-size: .7rem;
            }
            &.active{
                box-shadow: 0 0 .5rem #c8dea1;
            }
        }
    }
    #fancybox-left span{
        left: 1.6rem !important;
    }
    #fancybox-right span{
        right: 1.1rem !important;
    }
