$mainColor:#6db92b;
$mainBgColor:#fafafa;
a:hover,a{
    text-decoration: none;
    color: #333333;
}
.my-bullet{
    width: .6rem;
    height: .15rem;
}
.hidden_xs{
    display: none !important;
}
.visible_xs{
    display: block !important;
}
.container_zz,.container{
    padding:0 .75rem !important;
    margin-left: 0;
    margin-right: 0;
    overflow: initial;
}
/* 顶部导航 */
.header_bg{
    width: 100%;
    position: fixed;
    z-index: 12;
    &.navFixed{
        background-color: #ffffff;
    }
}
.banner{
    padding-top: 2.2rem;
    overflow: hidden;
    .swiper-slide{
        .banner_title{
            top:calc(50% - 2.3rem);
            font-size: .85rem;
            line-height: 2.125em;
            font-weight: bold;
        }
    }
}
    
.header_nav{
    padding:0;
    .header_logo{
        width: 100%;
        text-align: center;
        height: 2.2rem;
        padding:.225rem 0;
        background-color: white;
        img{
            height: 1.75rem;
            display: inline-block;
            width: auto;
        }
    }
    .header_list{
        position: fixed;
        left: 0;
        top: 2.2rem;
        bottom: 0;
        overflow: hidden;
        padding:0;
        transition-property: all;
        transition-duration:.5s , .5s;
        right: 100%;
        width: 0;
        margin-bottom: 0;
        margin-top: 0;
        height: calc(100% - 2.2rem);
        background-color:#f2f5f7;
        > li{
            position: relative;
            display: block;
            padding:0;
            text-align: left;
            border-bottom:0.05rem solid #d5d7d9;
            padding-left: .6rem;
            width: 100vw;
            &:hover{
                .popup{
                    display: block;
                }
            }
            a{
                line-height: 2.75rem;
                .up_icon{
                    margin-left:.5rem;
                    position:relative;
                    top:0;
                    &.visible_xs{
                        display: inline-block !important;
                    }
                    &.popupShow{
                        img{
                            transform:rotate(-180deg);
                        }
                    }
                    img{
                        transition:all .5s;
                        width:.425rem
                    }
                }
            }
            >.popup{
                border-top:.05rem solid $mainColor;
                position: unset;
                padding-top: 0;
                padding-left:.5rem;
                padding-bottom:.5rem;
                height: auto;
                background-color: #f2f5f7;
                display: block;
                &.popup1{
                    left: 0;
                }
                li{
                    flex: 1;
                    text-align: left;
                    border-right: .025rem solid rgba(255,255,255,.1);
                    height: auto;
                    width: 100%;
                    justify-content: flex-start;
                    a{
                        font-size: .7rem;
                        line-height: 2.57em;
                        .name{
                            color: #666;
                        }
                        img{
                            display: none;
                        }
                    }
                    &:last-child{
                        border-right: none;
                    }
                    &.active{
                        a{
                            color: #8dc21f;
                        }
                    }
                }
                &.popupShow{
                    display: block;
                    background-color: #f2f5f7;
                }
            }
            &:first-child{
                display: none;
            }
        }
        li a{
            color: #3f3f3f;
            font-size: .7rem;
        }
    }
    .change_btn{
        position: fixed;
        left: .5rem;
        top:.75rem;
        img{
            width: .95rem;
        }
    }
}
.open_nav{
    .header_nav{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0,0,0,0.4);
        .header_list{
            height: 100%;
            padding:0 .15rem;
            right: 0;
            width: 13rem;
            border-top:0.05rem solid #d5d7d9;
        }
    }
    .open_btn{
        display: none;
    }
    .close_btn{
        display: block;
    }
}
.close_nav{
    .open_btn{
        display: block;
    }
    .close_btn{
        display: none;
    }
}
    
 // 简介
.home_intro{
	padding: 1rem;
	.h3{
		margin-bottom: .375rem;
        font-size: .6rem;
	}
	p{
		font-size: .4rem;
		margin-bottom: .85rem;
        br{
            display: none;
        }
	}
}

// 首页产品展示
.pro_show{
	padding: 1rem 0;
    overflow: hidden;
	.pro_show_list{
		.pro_show_title{
			margin-bottom: .05rem;
			li{
				border-width: .05rem;
				a{
					font-size: .4rem;
					border-width: .05rem;
				}
			}
		}
		.pro_show_type{
            .type_box_right{
                padding: 0 1rem;
                padding-bottom: 1rem;
                img{
                    margin-bottom: .375rem;
                }
			}
			.type_box{
				box-shadow: 0 .05rem .05rem rgba(0,0,0,.1);
                .col-sm-7,.col-sm-5{
                    width: 100% !important;
                }
			}
			.show_type_title{
				margin-top: 1rem;
				font-size: .6rem;
				margin-bottom: .35rem;
			}
			p{
				font-size: .4rem;
				margin-bottom: .75rem;
			}
		}
	}
}
// 首页展示
.home_show{
    margin-bottom: 1rem;
    .show_item{
        width: calc(100% / 2);
        &.item_info{
            padding:0 .6rem;
            .item_title{
                font-size: .60rem;
                margin-bottom: .3rem;
            }
            .item_content{
                font-size: .5rem;
                line-height: 1.4em;
                margin-bottom: .3rem;
            }
            .item_more{
                width: 2.4rem;
                height: .6rem;
                font-size: .35rem;
                border-radius: .3rem;
            }
            .item_news{
                margin-bottom: .6rem;
                .news_line{
                    font-size: .5rem;
                    .news_title{
                        width: calc(100% - 3.625rem);
                    }
                    .time{
                        width: 3.625rem;
                    }
                }
            }
        }
    }
}

// 底部
.footer{
    padding:1rem .5rem;
    .container_zz{
        padding:0 .75rem;
        .row{
            .col-sm-6{
                width: 100% !important;
            }
        }
    }
    .footer_ph{
        font-size: .55rem;
        margin-bottom: .375rem;
        img{
            margin-right: .375rem;
        }
    }
    .footer_info{
        font-size: .35rem;
        margin-bottom: .375rem;
    }
    .footer_nav{
        .nav_item{
            margin-right: .75rem;
            a{
                font-size: .4rem;
            }
        }
    }
}
.footer_foot{
    font-size: .3rem;
    .container_zz{
        padding:0 .35rem;
    }
}
// 内页标题
.inner_title{
    padding-top: 1rem;
    padding-bottom: .5rem;
    .title_cn{
        font-size: .6rem;
    }
    .title_en{
        font-size: .35rem;
    }
}

// 简介
.intro_wrapper{
    p{
        font-size: .375rem;
        margin-bottom: .375rem;
    }
    .num_list{
        margin-bottom: .25rem;
        .num_item{
            width: calc( (100% - .75rem) / 4);
            margin-top: .25rem;
            padding:.5rem 0;
            &:first-child{
                font-size: .55rem;
                span{
                    font-size: .35rem;
                    margin-left: .125rem;
                }
            }
            .item_one{
                font-size: .7rem;
            }
            .item_two{
                font-size: .4rem;
            }
        }
    }
    .intro_content{
        padding: .7rem;
        margin-bottom: .25rem;
        box-shadow: 0 0 .05rem rgba(0,0,0,.05);
        .show_img{
            margin:0 auto;
        }
    }
}

// 研发
.yanfa_wrapper{
    padding-bottom: 1rem;
    .top_list{
        .top_item{
            width: calc( (100% - .5rem) / 2 );
            margin-bottom: .25rem;
            height: 6rem;
            >img{
                height: 100%;
            }
            .item_title{
                font-size: .4rem;
            }
            .hidden_info{
                padding: .45rem 0;
                .info_title{
                    font-size: .5rem;
                    margin-bottom: .15rem;
                }
                .info_content{
                    padding:0 .45rem;
                    font-size: .4rem;
                    line-height: 1.4em;
                }
            }
        }
    }
    .show_flex{
        flex-direction: column-reverse;
        .show_left{
            margin-right: .5rem;
            width: 100%;
            .left_info{
                padding:.75rem;
                margin-bottom: .15rem;
                .title{
                    font-size: .5rem;
                    margin-bottom: .25rem;
                }
                p{
                    font-size: .4rem;
                }
            }
            .show_img{
                margin-bottom: .15rem;
                .img_title{
                    font-size: .4rem;
                }
            }
        }
        .show_right{
            width: 100%;
            padding-left: 0;
            .show_item{
                width: calc( 20% - .1rem);
                margin-bottom: .125rem;
                .item_title{
                    padding:0 .25rem;
                    font-size: .375rem;
                }
            }
        }
    }
}
// R&DTeam
.team_wrapper{
    .team_box1{
        margin-bottom: 1rem;
        .team_img{
            padding:.5rem .5rem 0 .5rem;
        }
        .box1_content{
            width: 100%;
            padding: .5rem;
            p{
                font-size: .4rem;
            }
            .title{
                font-size: .5rem;
                margin-bottom: .25rem;
            }
        }
    }
    .team_box2{
        margin-bottom: 1rem;
        .box2_content{
            padding: .5rem;
            p{
                font-size: .4rem;
            }
            .title{
                font-size: .5rem;
                margin-bottom: .2rem;
            }
        }
    }
}

.proDetail_wrapper{
    .top_btn{
        margin:1rem 0;
        .btn_item{
            width: 4rem;
            height: 1.25rem;
            line-height: 1.25rem;
            margin-right: .125rem;
            margin-bottom: .375rem;
            a{
                font-size: .4rem;
            }
            &.active{
                &::after{
                    border-width: .25rem .3rem;
                    bottom: -.5rem;
                    margin-left: -.3rem;
                }
            }
        }
    }
}
.proDetail_content{
    padding-bottom: 1rem;
    .proDetail2_show{
        flex-direction: column;
        .show_item{
            .item_title{
                width: 3.4rem;
                height: .8rem;
                border-radius: .4rem;
                font-size: .45rem;
                margin-bottom: .375rem;
            }
            .item_info{
                font-size: .4rem;
                margin-bottom: .5rem;
            }
        }
        .show_mid{
            img{
                margin:0 auto;
            }
        }
        .show_left{
            padding-top: .5rem;
            width: 100%;
        }
        .show_right{
            padding-top: .5rem;
            padding-left: .125rem;
            width: 100%;
        }
    }
    .pro_name{
        font-size: .5rem;
    }
    p{
        font-size: .4rem;
    }
}
.proDetail_bottom{
    padding-top: .8rem;
    .proShow_item{
        padding-top: .25rem;
        margin-bottom: .875rem;
        .title{
            padding-bottom: .375rem;
            font-size: .5rem;
        }
        .item_wrapper{
            flex-direction: column;
            .item_img{
                img{
                    height: auto;
                }
            }
            .item_table{
                padding-left: 0;
                width: 100%;
                td{
                    padding-left: .75rem;
                }
                :nth-child(2){
                    padding-right: .375rem;
                }
            }
        }
    }
}
.proDetail_common{
    padding-top: 0;
    .proShow_item{
        padding-top: .25rem;
        margin-bottom: .875rem;
        .title{
            padding-bottom: .375rem;
            font-size: .5rem;
        }
        .item_wrapper{
            margin-bottom: .5rem;
            .item_img{
                margin-bottom: .375rem;
                >img{
                    height: auto;
                    box-shadow: .05rem .05rem .05rem rgba(0, 0, 0, 0.1);
                }
            }
            .item_table{
                padding-left: 0;
                width: 100%;
                td{
                    padding-left: .75rem;
                }
                :nth-child(2){
                    padding-right: .375rem;
                }
            }
        }
        p{
            font-size: .4rem;
        }
    }
    .proShow_list{
        .title{
            font-size: .45rem;
            margin-bottom: .375rem;
        }
        .list_box{
            padding-bottom: 1rem;
            .list_item{
                margin-bottom: .375rem;
                margin-right: .375rem;
                >a{
                    >img{
                        box-shadow: .05rem .05rem .05rem rgba(0, 0, 0, 0.1);
                        width: 3.75rem;
                    }
                }
                .item_title{
                    font-size: .4rem;
                }
            }
        }
    }
}

// News
.news_wrapper{
    padding-bottom: 1rem;
    .news_bg{
        box-shadow: 0 0 .05rem rgba(0,0,0,.05);
        padding:.4rem 0;
        .news_item{
            border-bottom: .025rem dashed #eeeeee;
            padding:.6rem .8rem;
            .item_left{
                width: 1.65rem;
                height: 1.65rem;
                padding-top: .15rem;
                border-radius: .05rem;
                .item_day{
                    font-size: .55rem;
                }
            }
            .item_right{
                width: 5rem;
                padding:.125rem .7rem;
                .item_title{
                    font-size: .45rem;
                }
                .item_info{
                    font-size: .35rem;
                }
            }
        }
        .pages_list{
            padding:.6rem .8rem 0 .8rem;
            .pages_item{
                width: .95rem;
                height: .95rem;
                a{
                    font-size: .35rem;
                }
            }
        }
    }
}
.news_det_box{
    padding-bottom: 1rem;
    .news_title{
        font-size:.6rem;
        margin-top: 1.5rem;
        margin-bottom: .375rem;
    }
    .news_time{
        font-size: .4rem;
        margin-bottom: .75rem;
    }
    .news_content{
        font-size: .4rem;
        p{
            margin-bottom: .375rem;
        }
    }
}

//Contact
.contact_wrapper{
    .map{
        height: 9.6rem;
    }
    .contact_info{
        .info_top{
            padding: .55rem 0;
            .top_line{
                padding-top: .01rem;
                font-size: .45rem;
                span{
                    margin-right: 1.5rem;
                }
            }
        }
        .info_bottom{
            padding:0 0 1rem 0;
            flex-direction: column;
            .info_left{
                padding-right: calc(100% / 12);
                width: 100%;
            }
            .info_mid{
                width: 100%;
            }
            .info_item{
                margin-bottom: 1rem;
                .info_name{
                    font-size: .45rem;
                }
                .info_line{
                    font-size: .4rem;
                }
            }
        }
    }
}