.imgFull{
    max-width: 100%;
    height: auto;
}
a:hover,a{
	text-decoration: none;
	color: #333333;
}
$mainColor:#6db92b;
$mainBgColor:#fafafa;
.more_btn{
	width: 96px;
	height: 24px;
	line-height: 24px;
	margin:0 auto;
	background-color: $mainColor;
	border-radius: 12px;
	a{
		color: white;
		font-size: 14px;
	}
}
/* 标题样式 */
.main_title{
    position: relative;
    margin-bottom: 46px;
    left: -15px;
    width: calc(100% - 15px);
    .title_big{
        font-size: 120px;
        opacity: .04;
        letter-spacing:.1em;
    }
    .title_small{
        font-size: 40px;
        position: absolute;
        left: 44px;
        top:76px;
        letter-spacing:.1em;
    }
    .title_more{
        font-size: 24px;
        position: absolute;
        right: 0px;
        bottom:15px;
    }
}



/* 页面1400px盒子 */
.container_zz{
    width: 100%;
    max-width:1560px;
    padding:0 30px;
    margin:0 auto;
}

.visible_xs{
    display: none !important;
}
/* 顶部导航 */
.header_bg{
    background-color: #ffffff;
	position: relative;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
    &.navFixed{
        background-color: rgba(#ffffff, .8);
        position: fixed;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        top: 0;
        z-index: 999999;
    }
}
.header_nav{
    width: 100%;
    display: flex;
    padding:14px 0 10px 0;
	position: relative;
    .popup{
        position: absolute;
        list-style: none;
        padding-top: 20px;
        padding-left: 0;
        z-index: 10;
        width: 100%;
        display: none;
        top:100%;
        left: 0;
        height: 80px;
        background-color: rgba(7,45,73,.85);
        li{
            flex: 1;
            text-align: center;
            border-right: 1px solid rgba(255,255,255,.1);
            height: 40px;
            a{
                font-size: 18px;
                color: white;
                line-height: 2.2222em;
            }
            &:last-child{
                border-right: none;
            }
            &.active{
                a{
                    color: $mainColor;
                }
            }
        }
        &.popupShow{
            display: flex;
        }
    }
    .header_logo{
        width: 160px;
    }
    .change_lang{
		padding-top: 14px;
		.border_en{
			width: 108px;
			overflow: hidden;
			height: 34px;
			border-radius: 17px;
            background-color: $mainColor;
            display: inline-block;
			padding-left: 6px;
			color: #ffffff;
			span{
				font-size: 14px;
				line-height: 34px;
				font-family: sans-serif;
			}
			img{
				margin-right: 12px;
				display: inline-block;
				position: relative;
				top: -2px;
			}
        }
    }
    .header_list{
        flex: 1;
        text-align: right;
		margin-top: 0px;
		margin-bottom: 0;
        >li{
            display: inline-block;
            padding:0 33px;
            > a{
                font-size: 16px;
                line-height: 4em;
            }
            &.active > a{
                color: $mainColor;
            }
        }
    }
    li a:hover{
        color: $mainColor;
    }
}


/* 海报 */
.banner{
    .imgFull{
        width: 100%;
    }
    .swiper-slide{
        position: relative;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 40px;
}
.my-bullet{
	width: 84px;
	height: 4px;
	border-radius: 2px;
	background-color: #ffffff;
	display: inline-block;
	margin:0 10px;
    cursor: pointer;
    opacity: .6;
}
.my-bullet-active{
    background-color: #a9df27;
    opacity: 1;
}

// 简介
.home_intro{
	padding: 66px 0;
	.h3{
		margin-bottom: 15px;
	}
	p{
		font-size: 16px;
		line-height: 2em;
		margin-bottom: 34px;
	}
}
// 首页产品展示
.pro_show{
	background-color: #f0f0f0;
	padding: 140px 0;
	.pro_show_list{
		.pro_show_title{
			border: none;
			margin-bottom: 2px;
			display: flex;
			justify-content: space-around;
			li{
				flex: 1;
				background-color: #959394;
				border-right: 1px #ffffff solid;
				a{
					width:100%;
					text-align: center;
					font-size: 18px;
					border: none;
					padding:0;
					line-height: 64px;
					display: inline-block;
					border-radius: 0;
					border-top: 2px solid transparent;
                    color: #ffffff;
					&:hover{
						background-color: transparent;
					}
				}
				&.active{
					background-color: #6db92b;
					a{
						border: none;
						background-color: transparent;
					}
				}
				&:last-child{
					border-right: none;
				}
			}
		}
		.pro_show_type{
			.type_box_right{
				padding-right: 90px;
			}
			.type_box{
				background-color: white;
				box-shadow: 0 2px 2px rgba(0,0,0,.1);
			}
			.show_type_title{
				margin-top: 90px;
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 14px;
			}
			p{
				font-size: 16px;
				line-height: 1.9em;
				margin-bottom: 30px;
			}
		}
	}
}
// 首页展示
.home_show{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 160px;
    .show_item{
        width: calc(100% / 3);
        .item_img{
            width: 100%;
        }
        &.item_info{
            padding:0 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            .item_title{
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .item_content{
                font-size: 20px;
                line-height: 1.6em;
                margin-bottom: 40px;
            }
            .item_more{
                width: 96px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                display: inline-block;
                background-color: white;
                border-radius: 12px;
                text-align: center;
            }
            .item_news{
                margin-bottom: 40px;
                .news_line{
                    font-size: 20px;
                    line-height: 1.6em;
                    display: flex;
                    .news_title{
                        width: calc(100% - 145px);
                        display: inline-block;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        a{
                            color: white;
                        }
                    }
                    .time{
                        width: 145px;
                        text-align: right;
                        display: inline-block;
                    }
                }
            }
        }
        &.item_green{
            background-color: $mainColor;
            .item_more{
                a{
                    color: $mainColor;
                }
            }
        }
        &.item_blue{
            background-color: #0054a7;
            .item_more{
                a{
                    color: #0054a7;
                }
            }
        }
        &.item_grey{
            background-color: #959394;
            .item_more{
                a{
                    color: #959394;
                }
            }
        }
    }
}
// 底部
.footer{
    background-color: #434343;
    padding:70px 0 50px 0;
    color: #d2d2d2;
    .container_zz{
        max-width:1340px;
        padding:0 30px;
    }
    a{
        color: #d2d2d2; 
    }
    .footer_ph{
        font-size: 22px;
        margin-bottom: 15px;
        img{
            margin-right: 15px;
        }
    }
    .footer_info{
        line-height: 1.7em;
        font-size: 14px;
    }
    .footer_nav{
        display: flex;
        .nav_item{
            margin-right: 30px;
            a{
                font-size: 16px;
                line-height: 1.7em;
            }
        }
    }
}
.footer_foot{
    font-size: 14px;
    line-height: 2.715em;
    .container_zz{
        max-width:1340px;
        padding:0 30px;
    }
}
// 内页标题
.inner_title{
    background-color: $mainBgColor;
    padding-top: 50px;
    padding-bottom: 35px;
    .title_cn{
        font-size: 24px;
        line-height: 1.6em;
    }
    .title_en{
        font-size: 14px;
        line-height: 1.6em;
        text-transform: uppercase;
    }
}
// 简介
.intro_wrapper{
    background-color: $mainBgColor;
    p{
        font-size: 16px;
        color: #666666;
        line-height: 1.875em;
        margin-bottom: 15px;
    }
    .num_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        .num_item{
            width: calc( (100% - 30px) / 4);
            text-align: center;
            background-color: #e6f0ed;
            margin-top: 10px;
            padding:20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:first-child{
                background-color: $mainColor;
                color: white;
                font-size: 22px;
                font-weight: bold;
                span{
                    font-size: 14px;
                    font-weight: normal;
                    margin-left: 5px;
                }
            }
            .item_one{
                font-size: 28px;
                line-height: 1.4em;
            }
            .item_two{
                font-size: 16px;
                color: #666666;
            }
        }
    }
    .intro_content{
        background-color: white;
        padding:28px;
        margin-bottom: 10px;
        box-shadow: 0 0 2px rgba(0,0,0,.05);
    }
}

.yanfa_wrapper{
    background-color: $mainBgColor;
    padding-bottom: 100px;
    .top_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .top_item{
            width: calc( (100% - 20px) / 3 );
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            .item_title{
                opacity: 1;
                position:absolute;
                bottom: 0;
                text-align: center;
                width: 100%;
                font-size: 16px;
                line-height: 2.25em;
                background-color: rgba($mainColor,.5);
                color: white;
                transition: all .5s ease-out;
                transition-delay: .2s;
            }
            .hidden_info{
                position: absolute;
                opacity: 0;
                top:0;
                bottom:0;
                background-color: $mainColor;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                color: white;
                transition: all .5s;
                .info_title{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .info_content{
                    padding:0 18px;
                    font-size: 16px;
                    line-height: 1.75em;
                }
            }
            &:hover{
                .hidden_info{
                    opacity: 1;
                }
                .item_title{
                    opacity: 0;
                }
            }
        }
    }
    .show_flex{
        display: flex;
        .show_left{
            flex: 1;
            margin-right: 20px;
            .left_info{
                background-color: #0054a7;
                color:white;
                padding:34px 48px 18px 48px;
                margin-bottom: 6px;
                .title{
                    font-size: 20px;
                    font-weight: bold;
                    text-align:center;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                    line-height: 1.75em;
                }
            }
            .show_img{
                position: relative;
                margin-bottom: 6px;
                .img_title{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align:center;
                    line-height: 44px;
                    background-color: rgba(#0054a7,.5);
                    color:white;
                    font-size: 16px;
                }
            }
        }
        .show_right{
            width: 36%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .show_item{
                width: calc( 50% - 3px);
                position: relative;
                margin-bottom: 6px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
                .item_title{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    background-color:rgba(#0054a7,.8);
                    color:white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                }
            }
        }
    }
}

// 新闻中心
.news_wrapper{
    background-color: $mainBgColor;
    padding-bottom: 68px;
    .news_bg{
        background-color: white;
        box-shadow: 0 0 2px rgba(0,0,0,.05);
        padding:28px 0;
        .news_item{
            display: flex;
            border-bottom: 1px dashed #eeeeee;
            padding:24px 32px;
            .item_left{
                width:66px;
                height: 66px;
                background-color: $mainColor;
                color: white;
                text-align: center;
                padding-top: 6px;
                border-radius: 2px;
                .item_day{
                    font-size: 22px;
                    font-weight: bold;
                }
                .item_time{
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .item_right{
                flex:1;
                width: 200px;
                padding:5px 28px;
                .item_title{
                    width: 100%;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    font-size: 18px;
                    line-height: 1.75em;
                }
                .item_info{
                    width: 100%;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                    color: #666666;
                }
            }
        }
        .pages_list{
            padding:36px 32px 0 32px;
            .pages_item{
                display: inline-block;
                width:38px;
                height: 38px;
                background-color: $mainColor;
                text-align: center;
                a{
                    color: white;
                    line-height: 38px;
                    font-size: 14px;
                }
            }
        }
    }
}
.news_det_box{
    background-color: $mainBgColor;
    padding-bottom: 100px;
    .news_title{
        font-size:24px;
        color:#333333;
        text-align:center;
        margin-top:60px;
        margin-bottom:15px;
    }
    .news_time{
        font-size:16px;
        color:#666666;
        text-align:center;
        margin-bottom:30px
    }
    .news_content{
        font-size:16px;
        line-height:1.6;
        p{
            margin-bottom:15px;
        }
        img{
            max-width: 100%;
        }
    }
}




.contact_wrapper{
    background-color: $mainBgColor;
    .map{
        height: 384px;
        background-color: #eeeeee;
    }
    .contact_info{
        .info_top{
            padding:22px;
            .top_line{
                padding-top: 4px;
                font-size: 18px;
                line-height: 1.75em;
                font-family: Arial, Helvetica, sans-serif;
                span{
                    margin-right: 60px;
                }
            }
        }
        .info_bottom{
            padding:0 22px 100px 22px;
            display: flex;
            .info_left{
                padding-right: calc(100% / 12);
            }
            .info_item{
                margin-bottom: 40px;
                .info_name{
                    font-size: 18px;
                    font-weight: bold;
                }
                .info_line{
                    font-size: 16px;
                    line-height: 2em;
                }
            }
        }
    }
}
// 研究团队
.team_wrapper{
    background-color: $mainBgColor;
    .container_zz{
        max-width:1260px;
        padding:0 30px;
    }
    .team_box1{
        display: flex;
        background-color: #f5f5f5;
        margin-bottom: 46px;
        >img{
            height: 324px;
        }
        .box1_content{
            flex: 1;
            width: 200px;
            padding:40px 50px 0 50px;
            p{
                font-size: 16px;
                color: #666666;
                line-height: 1.75em;
            }
            .title{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }
    .team_box2{
        display: flex;
        margin-bottom: 80px;
        >img{
            height: 160px;
        }
        .box2_content{
            background-color: $mainColor;
            flex: 1;
            width: 200px;
            padding:20px 20px 0 20px;
            p{
                font-size: 16px;
                color: #ffffff;
                line-height: 1.5em;
            }
            .title{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 8px;
                color: #ffffff;
            }
        }
    }
}
.proDetail_wrapper{
    background-color: $mainBgColor;
    .top_btn{
        margin:40px 0;
        .btn_item{
            display: inline-block;
            width: 164px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #959394;
            margin-right: 5px;
            position: relative;
            a{
                font-size: 16px;
                color: white;
            }
            &.active{
                background-color: $mainColor;
                &::after{
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: $mainColor transparent transparent transparent;
                    border-width: 10px 12px;
                    bottom: -20px;
                    left: 50%;
                }
            }
        }
    }
}
.proDetail_content{
    background-color: $mainBgColor;
    background-image: url(../images/proCenter/bg.jpg);
    background-repeat: no-repeat;
    background-position:center bottom;
    .proDetail2_show{
        display: flex;
        .show_item{
            .item_title{
                width: 136px;
                height: 32px;
                line-height: 32px;
                background-color: $mainColor;
                border-radius: 16px;
                text-align: center;
                color: white;
                font-size: 18px;
                margin-bottom: 15px;
            }
            .item_info{
                font-size: 16px;
                color: #666666;
                line-height: 1.5em;
                margin-bottom: 60px;
            }
        }
        .show_left{
            padding-top:60px;
        }
        .show_right{
            padding-top:60px;
            padding-left: 72px;
        }
    }
    .pro_name{
        font-size: 20px;
        font-weight: bold;
        line-height: 1.6em;
    }
    p{
        font-size: 16px;
        line-height: 1.7em;
        color: #666666;
    }
}
.proDetail_bottom{
    background-color: #b1b1b1;
    padding-top: 32px;
    .proShow_item{
        padding-top: 10px;
        margin-bottom: 35px;
        .title{
            padding-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            line-height: 2em;
        }
        .item_wrapper{
            display: flex;
            >img{
                height: 280px;
            }
            .item_table{
                padding-left: 30px;
                flex: 1;
                width: 200px;
                color: white;
                td{
                    padding-left: 30px;
                    line-height: 1.8em;
                }
                :nth-child(2){
                    padding-right: 15px;
                }
            }
        }
    }
}
.proDetail_common{
    padding-top: 32px;
    background-color: $mainBgColor;
    background-image: url(../images/proCenter/bg.jpg);
    background-repeat: no-repeat;
    background-position:center bottom;
    .proShow_item{
        padding-top: 10px;
        margin-bottom: 35px;
        .title{
            padding-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
            line-height: 2em;
        }
        .item_wrapper{
            display: flex;
            margin-bottom: 20px;
            >img{
                height: 280px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            }
            .item_table{
                padding-left: 30px;
                flex: 1;
                width: 200px;
                td{
                    padding-left: 30px;
                    line-height: 2.1em;
                }
                :nth-child(2){
                    padding-right: 15px;
                }
            }
        }
        p{
            font-size: 16px;
            line-height: 2.5em;
        }
    }
    .proShow_list{
        .title{
            font-size: 18px;
            color: #666666;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .list_box{
            display: flex;
            padding-bottom: 40px;
            .list_item{
                margin-bottom: 15px;
                margin-right: 15px;
                >a{
                    >img{
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
                        width: 155px;
                    }
                }
                .item_title{
                    font-size: 16px;
                    line-height: 1.625em;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    background-color: $mainColor;
                    color: white;
                }
            }
        }
    }
}
