.imgFull{
    max-width: 100%;
    height: auto;
}
a:hover,a{
	text-decoration: none;
	color: #333333;
}
$mainColor:#6db92b;
.more_btn{
	width: 96px;
	height: 24px;
	line-height: 24px;
	margin:0 auto;
	background-color: $mainColor;
	border-radius: 12px;
	a{
		color: white;
		font-size: 14px;
	}
}
/* 标题样式 */
.main_title{
    position: relative;
    margin-bottom: 46px;
    left: -15px;
    width: calc(100% - 15px);
    .title_big{
        font-size: 120px;
        opacity: .04;
        letter-spacing:.1em;
    }
    .title_small{
        font-size: 40px;
        position: absolute;
        left: 44px;
        top:76px;
        letter-spacing:.1em;
    }
    .title_more{
        font-size: 24px;
        position: absolute;
        right: 0px;
        bottom:15px;
    }
}



/* 页面1400px盒子 */
.container_zz{
    width: 100%;
    max-width:1560px;
    padding:0 30px;
    margin:0 auto;
}

.visible_xs{
    display: none !important;
}
/* 顶部导航 */
.header_bg{
    background-color: #ffffff;
	position: relative;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
    &.navFixed{
        background-color: rgba(#ffffff, .8);
        position: fixed;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        top: 0;
        z-index: 999999;
    }
}
.header_nav{
    width: 100%;
    display: flex;
    padding:14px 0 10px 0;
	position: relative;
    .popup{
        position: absolute;
        list-style: none;
        padding-top: 20px;
        padding-left: 0;
        z-index: 10;
        width: 100%;
        display: none;
        top:100%;
        left: 0;
        height: 80px;
        background-color: rgba(7,45,73,.85);
        li{
            flex: 1;
            text-align: center;
            border-right: 1px solid rgba(255,255,255,.1);
            height: 40px;
            a{
                font-size: 18px;
                color: white;
                line-height: 2.2222em;
            }
            &:last-child{
                border-right: none;
            }
            &.active{
                a{
                    color: $mainColor;
                }
            }
        }
        &.popupShow{
            display: flex;
        }
    }
    .header_logo{
        width: 160px;
    }
    .change_lang{
		padding-top: 14px;
		.border_en{
			width: 108px;
			overflow: hidden;
			height: 34px;
			border-radius: 17px;
            background-color: $mainColor;
            display: inline-block;
			padding-left: 6px;
			color: #ffffff;
			span{
				font-size: 14px;
				line-height: 34px;
				font-family: sans-serif;
			}
			img{
				margin-right: 12px;
				display: inline-block;
				position: relative;
				top: -2px;
			}
        }
    }
    .header_list{
        flex: 1;
        text-align: right;
		margin-top: 0px;
		margin-bottom: 0;
        >li{
            display: inline-block;
            padding:0 33px;
            > a{
                font-size: 16px;
                line-height: 4em;
            }
            &.active > a{
                color: $mainColor;
            }
        }
    }
    li a:hover{
        color: $mainColor;
    }
}


/* 海报 */
.banner{
    .imgFull{
        width: 100%;
    }
    .swiper-slide{
        position: relative;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 40px;
}
.my-bullet{
	width: 84px;
	height: 4px;
	border-radius: 2px;
	background-color: #ffffff;
	display: inline-block;
	margin:0 10px;
    cursor: pointer;
    opacity: .6;
}
.my-bullet-active{
    background-color: #a9df27;
    opacity: 1;
}

// 简介
.home_intro{
	padding: 66px 0;
	.h3{
		margin-bottom: 15px;
	}
	p{
		font-size: 16px;
		line-height: 2em;
		margin-bottom: 34px;
	}
}
// 首页产品展示
.pro_show{
	background-color: #f0f0f0;
	padding: 140px 0;
	.pro_show_list{
		.pro_show_title{
			border: none;
			margin-bottom: 2px;
			display: flex;
			justify-content: space-around;
			li{
				flex: 1;
				background-color: #959394;
				border-right: 1px #ffffff solid;
				a{
					width:100%;
					text-align: center;
					font-size: 18px;
					border: none;
					padding:0;
					line-height: 64px;
					display: inline-block;
					border-radius: 0;
					border-top: 2px solid transparent;
					&:hover{
						background-color: transparent;
					}
				}
				&.active{
					background-color: #6db92b;
					a{
						border: none;
						color: #ffffff;
						background-color: transparent;
					}
				}
				&:last-child{
					border-right: none;
				}
			}
		}
		.pro_show_type{
			.type_box_right{
				padding-right: 90px;
			}
			.type_box{
				background-color: white;
				box-shadow: 0 2px 2px rgba(0,0,0,.1);
			}
			.show_type_title{
				margin-top: 90px;
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 14px;
			}
			p{
				font-size: 16px;
				line-height: 1.9em;
				margin-bottom: 30px;
			}
		}
	}
}